<phpunit colors="true" testdox="true">
  <testsuites>
    <testsuite name="backdrop">
      <file>bTest.php</file>
      <file>CacheCommandsTest.php</file>
      <file>ConfigCommandsTest.php</file>
      <file>HelpCommandsTest.php</file>
    </testsuite>
    <testsuite name="multisite">
      <file>MultisiteTest.php</file>
      <!-- <file>MultisiteCommandsPMTest.php</file> -->
    </testsuite>
  </testsuites>
</phpunit>
